<div class="jumbotron">
    <h1>Bienvenido a la pagina para desarrolladores de Mis Anuncios</h1>
    <p class="lead">Porque desde Mis Anuncios estamos encantados de ayudar y facilitar el trabajo de cualquier desarrollador que quiera crear una web o una aplicacion para consumir nuestros servicios, ponemos a disposicion de los desarrolladores la misma API Rest que usamos nosotros.</p>
    <p><a href="./Help" class="btn btn-primary btn-lg">Échale un vistazo a nuestra API&raquo;</a></p>
</div>
