<div class="jumbotron">
    <h1>Bienvenido a mis anuncios</h1>
    <p class="lead">Mis anuncios es la web de anuncios clasificados donde podrás ofertar tus servicios como profesional dentro de la provincia donde trabajes.</p>
    <p><a href="./Home/MainPage" class="btn btn-primary btn-lg">Acerca de Mis Anuncios &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Regístrate</h2>
        <p>¿Todavia no eres miembro de Mis anuncios? Registrate completamente gratis y comienza a disfrutar de los beneficios que te ofrecemos.</p>
        <p><a class="btn btn-default" href="./Account/Register">Regístrate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inicia sesión</h2>
        <p>Si ya eres miembro de Mis Anuncios, inicia sesión y podrás acceder a tu zona personal para administrar tus datos y tus anuncios clasificados.</p>
        <p><a class="btn btn-default" href="./Account/Login">Inicia sesión &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>¿Eres desarrollador?</h2>
        <p>En Mis Anuncios estamos encantados de que los desarrolladores quieran crear aplicaciones externas a nosotros, por lo que ponemos a vuestra disposicion un API con la que acceder a nuestros servicios.</p>
        <p><a class="btn btn-default" href="./Help/Index">Échale un vistazo a nuestra API &raquo;</a></p>
    </div>
</div>
